# Census API - New York

In [11]:
# import packages

from us import states
import pandas as pd
import requests

# import doc with API key

import config

from scripts import censusAPI as cen

from Data import censusIndex

In [2]:
pd.set_option('display.max_colwidth', 0)
pd.set_option('display.max_rows', None)

In [3]:
cen.censusDataDetailedTable.head()

           name             label                   concept
0  AIANHH        Geography         None
1  AIHHTL        Geography         None
2  AIRES         Geography         None
3  ANRC          Geography         None
4  B01001A_001E  Estimate!!Total:  SEX BY AGE (WHITE ALONE)

## NY School Districts will Serve as the Geography Type

#### This is the location data we will use for the Census API call

In [4]:
# Test with Nassau County School Districts

selectedNYCounties = cen.schoolDistrictCSV((r'Data\USCensusNYSchDist.csv'))

In [5]:
stateIDurl = ("https://www2.census.gov/geo/docs/reference/state.txt")
stateID = pd.read_csv(stateIDurl, sep='|')
stateID

    STATE STUSAB                   STATE_NAME  STATENS
0   1      AL     Alabama                      1779775
1   2      AK     Alaska                       1785533
2   4      AZ     Arizona                      1779777
3   5      AR     Arkansas                     68085
4   6      CA     California                   1779778
5   8      CO     Colorado                     1779779
6   9      CT     Connecticut                  1779780
7   10     DE     Delaware                     1779781
8   11     DC     District of Columbia         1702382
9   12     FL     Florida                      294478
10  13     GA     Georgia                      1705317
11  15     HI     Hawaii                       1779782
12  16     ID     Idaho                        1779783
13  17     IL     Illinois                     1779784
14  18     IN     Indiana                      448508
15  19     IA     Iowa                         1779785
16  20     KS     Kansas                       481813
17  21     KY     Kentucky                     1779786
18  22     LA     Louisiana                    1629543
19  23     ME     Maine                        1779787
20  24     MD     Maryland                     1714934
21  25     MA     Massachusetts                606926
22  26     MI     Michigan                     1779789
23  27     MN     Minnesota                    662849
24  28     MS     Mississippi                  1779790
25  29     MO     Missouri                     1779791
26  30     MT     Montana                      767982
27  31     NE     Nebraska                     1779792
28  32     NV     Nevada                       1779793
29  33     NH     New Hampshire                1779794
30  34     NJ     New Jersey                   1779795
31  35     NM     New Mexico                   897535
32  36     NY     New York                     1779796
33  37     NC     North Carolina               1027616
34  38     ND     North Dakota                 1779797
35  39     OH     Ohio                         1085497
36  40     OK     Oklahoma                     1102857
37  41     OR     Oregon                       1155107
38  42     PA     Pennsylvania                 1779798
39  44     RI     Rhode Island                 1219835
40  45     SC     South Carolina               1779799
41  46     SD     South Dakota                 1785534
42  47     TN     Tennessee                    1325873
43  48     TX     Texas                        1779801
44  49     UT     Utah                         1455989
45  50     VT     Vermont                      1779802
46  51     VA     Virginia                     1779803
47  53     WA     Washington                   1779804
48  54     WV     West Virginia                1779805
49  55     WI     Wisconsin                    1779806
50  56     WY     Wyoming                      1779807
51  60     AS     American Samoa               1802701
52  66     GU     Guam                         1802705
53  69     MP     Northern Mariana Islands     1779809
54  72     PR     Puerto Rico                  1779808
55  74     UM     U.S. Minor Outlying Islands  1878752
56  78     VI     U.S. Virgin Islands          1802710

In [6]:
# Test with Nassau County School Districts

NYURL = ("https://www2.census.gov/geo/docs/reference/codes/files/st36_ny_schdist.txt")
NY = cen.schoolDistrictGEOID(NYURL)
NY.head(1)

  State  ID  GEOID                School District Name    Class
0  NY    36  1      Dolgeville Central School District  Unified

In [7]:
# Test merging user input school district CSV with census GEOID list

NYCountiesGEOID = cen.mergedSchoolDist(NY, selectedNYCounties)

# Test grab GEOIDs only

NYGEOID = (cen.GEOIDonly(NYCountiesGEOID))

In [8]:
selectedDetTabVar = 'B19013_001E'
cen.detailedTableYear(2010,selectedDetTabVar,NYGEOID,36)

,NAME,B19013_001E,state,school district (unified)
0,"Plainview-Old Bethpage Central School District, New York",116757,36,23220
1,"Port Washington Union Free School District, New York",106486,36,23580
2,"Rockville Centre Union Free School District, New York",101905,36,24780
3,"Roslyn Union Free School District, New York",129389,36,25050
4,"North Shore Central School District, New York",109042,36,26370
5,"Syosset Central School District, New York",139896,36,28560
6,"Wantagh Union Free School District, New York",110342,36,29850
7,"Hewlett-Woodmere Union Free School District, New York",105933,36,31710
8,"East Williston Union Free School District, New York",152500,36,10050
9,"Garden City Union Free School District, New York",140744,36,11760
10,"Herricks Union Free School District, New York",110101,36,14280
11,"Jericho Union Free School District, New York",150286,36,15810
12,"Levittown Union Free School District, New York",94613,36,17160
13,"Locust Valley Central School District, New York",93686,36,17700
14,"Lynbrook Union Free School District, New York",93517,36,17910
15,"Manhasset Union Free School District, New York",173377,36,18270
16,"Massapequa Union Free School District, New York",112596,36,18630

In [9]:
cen.detailedTableYear(2019,selectedDetTabVar,NYGEOID,36)

,NAME,B19013_001E,state,school district (unified)
0,"Roslyn Union Free School District, New York",160098,36,25050
1,"East Williston Union Free School District, New York",177868,36,10050
2,"North Shore Central School District, New York",135563,36,26370
3,"Garden City Union Free School District, New York",174886,36,11760
4,"Wantagh Union Free School District, New York",155588,36,29850
5,"Manhasset Union Free School District, New York",207198,36,18270
6,"Port Washington Union Free School District, New York",134627,36,23580
7,"Rockville Centre Union Free School District, New York",108797,36,24780
8,"Hewlett-Woodmere Union Free School District, New York",128547,36,31710
9,"Levittown Union Free School District, New York",126665,36,17160
10,"Locust Valley Central School District, New York",130568,36,17700
11,"Lynbrook Union Free School District, New York",114423,36,17910
12,"Plainview-Old Bethpage Central School District, New York",145550,36,23220
13,"Herricks Union Free School District, New York",137738,36,14280
14,"Syosset Central School District, New York",173724,36,28560
15,"Jericho Union Free School District, New York",183570,36,15810
16,"Massapequa Union Free School District, New York",135919,36,18630

## US Census Data

In [24]:
x=cen.houseYrBlt(2017,'00060',32)
x

,state,school district (unified),NAME,Total Housing Units,Built 2014 or Later,Built 2010 to 2013,Built 2000 to 2009,Built 1990 to 1999,Built 1980 to 1989,Built 1970 to 1979,Built 1960 to 1969,Built 1950 to 1959,Built 1940 to 1949,Built 1939 or Earlier
0,32,00060,"Clark County School District, Nevada",877617,10275,27456,280762,255880,132776,94892,46499,19921,5972,3184

In [22]:
y=cen.houseYrBlt(2019,'00060',32)
y

,state,school district (unified),NAME,Total Housing Units,Built 2014 or Later,Built 2010 to 2013,Built 2000 to 2009,Built 1990 to 1999,Built 1980 to 1989,Built 1970 to 1979,Built 1960 to 1969,Built 1950 to 1959,Built 1940 to 1949,Built 1939 or Earlier
0,32,00060,"Clark County School District, Nevada",899870,31404,33556,270577,262118,131814,95210,45947,19472,6262,3510

In [ ]:
x.iloc[:, 3:,] = x.iloc[:, 3:,].apply(pd.to_numeric)
x.info()

## Filtering DataFrames!

In [ ]:
# Filter by integer value
# newDf = popDF.loc[(popDF['B01001A_001E']>40000)]
# newDf

## Matplot

In [ ]:
from matplotlib import pyplot as plt
from matplotlib.ticker import MultipleLocator
import numpy as np

In [ ]:
allDistricts = x["NAME"].tolist()
totalPop = x['Built 2014 or Later'].tolist()

allDistrictsNew = (allDistricts[3:])
totalPopNew = (totalPop[3:])
print(totalPopNew)

In [ ]:
fig = plt.figure(figsize=(40,40))

plt.xticks(fontsize=50)
plt.yticks(fontsize=50)


plt.title('State Population',fontsize=50)
plt.ylabel('Districts',fontsize=50)
plt.xlabel('Population',fontsize=50)
ax1=plt.subplot(1,1,1)

ax1.barh(allDistrictsNew, totalPopNew, 0.7, color = "#444444",label="TotalPopulation")
#plt.xticks([0,10])

plt.legend(fontsize=50)
plt.show()