# Census API - New York

In [1]:
# import packages

from us import states
import pandas as pd
import requests

# import doc with API key

import config

from scripts import censusAPI as cen

In [2]:
# Test with Nassau County School Districts

selectedNYCounties = cen.schoolDistrictCSV((r'Data\USCensusNYSchDist.csv'))

In [3]:
# Test with Nassau County School Districts

NYURL = ("https://www2.census.gov/geo/docs/reference/codes/files/st36_ny_schdist.txt")
NY = cen.schoolDistrictGEOID(NYURL)

In [4]:
# Test merging user input school district CSV with census GEOID list

NYCountiesGEOID = cen.mergedSchoolDist(NY, selectedNYCounties)

In [5]:
# Test grab GEOIDs only

NYGEOID = (cen.GEOIDonly(NYCountiesGEOID))

In [6]:
# Test filter by list of known table names

nameList = ['B01001_002E']

cen.filterByTableName(nameList)

          name                    label     concept
0  B01001_002E  Estimate!!Total:!!Male:  SEX BY AGE

In [7]:
# Getting Census Data: Data Profiles

selectedDatProVar = 'DP05_0002E,DP05_0003E'

cen.dataProfile(selectedDatProVar,NYGEOID)

,NAME,DP05_0002E,DP05_0003E,state,school district (unified)
0,"Roslyn Union Free School District, New York",8837,9761,36,25050
1,"East Williston Union Free School District, New...",4217,4669,36,10050
2,"North Shore Central School District, New York",8408,8240,36,26370
3,"Garden City Union Free School District, New York",10806,11693,36,11760
4,"Wantagh Union Free School District, New York",8279,8460,36,29850
5,"Manhasset Union Free School District, New York",8015,8832,36,18270
6,"Port Washington Union Free School District, Ne...",15199,15829,36,23580
7,"Rockville Centre Union Free School District, N...",10490,11579,36,24780
8,"Hewlett-Woodmere Union Free School District, N...",9486,10591,36,31710
9,"Levittown Union Free School District, New York",22308,23358,36,17160
10,"Locust Valley Central School District, New York",7718,8127,36,17700
11,"Lynbrook Union Free School District, New York",8169,9086,36,17910
12,Plainview-Old Bethpage Central School District...,13928,14621,36,23220
13,"Herricks Union Free School District, New York",11551,12652,36,14280
14,"Syosset Central School District, New York",17250,17476,36,28560
15,"Jericho Union Free School District, New York",8616,9326,36,15810
16,"Massapequa Union Free School District, New York",22980,23988,36,18630

In [8]:
# Getting Census Data: Detailed Tables

selectedDetTabVar = 'B01001_002E,B01001_026E,B19013_001E'

cen.detailedTable(selectedDetTabVar,NYGEOID)

,NAME,B01001_002E,B01001_026E,B19013_001E,state,school district (unified)
0,"Roslyn Union Free School District, New York",8837,9761,160098,36,25050
1,"East Williston Union Free School District, New...",4217,4669,177868,36,10050
2,"North Shore Central School District, New York",8408,8240,135563,36,26370
3,"Garden City Union Free School District, New York",10806,11693,174886,36,11760
4,"Wantagh Union Free School District, New York",8279,8460,155588,36,29850
5,"Manhasset Union Free School District, New York",8015,8832,207198,36,18270
6,"Port Washington Union Free School District, Ne...",15199,15829,134627,36,23580
7,"Rockville Centre Union Free School District, N...",10490,11579,108797,36,24780
8,"Hewlett-Woodmere Union Free School District, N...",9486,10591,128547,36,31710
9,"Levittown Union Free School District, New York",22308,23358,126665,36,17160
10,"Locust Valley Central School District, New York",7718,8127,130568,36,17700
11,"Lynbrook Union Free School District, New York",8169,9086,114423,36,17910
12,Plainview-Old Bethpage Central School District...,13928,14621,145550,36,23220
13,"Herricks Union Free School District, New York",11551,12652,137738,36,14280
14,"Syosset Central School District, New York",17250,17476,173724,36,28560
15,"Jericho Union Free School District, New York",8616,9326,183570,36,15810
16,"Massapequa Union Free School District, New York",22980,23988,135919,36,18630

In [9]:
# Population by Age, Gender, and Demographic

Pop = 11255,4,5,20,36,51,67,82,98,113,129,144,160,175,191,206,222,237,253,268

dfPop = cen.filterByIndex(Pop)
dfPop

,name,label,concept
0,B01001A_001E,Estimate!!Total:,SEX BY AGE (WHITE ALONE)
1,B01001A_002E,Estimate!!Total:!!Male:,SEX BY AGE (WHITE ALONE)
2,B01001A_017E,Estimate!!Total:!!Female:,SEX BY AGE (WHITE ALONE)
3,B01001B_002E,Estimate!!Total:!!Male:,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)
4,B01001B_017E,Estimate!!Total:!!Female:,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)
5,B01001C_002E,Estimate!!Total:!!Male:,SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ...
6,B01001C_017E,Estimate!!Total:!!Female:,SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ...
7,B01001D_002E,Estimate!!Total:!!Male:,SEX BY AGE (ASIAN ALONE)
8,B01001D_017E,Estimate!!Total:!!Female:,SEX BY AGE (ASIAN ALONE)
9,B01001E_002E,Estimate!!Total:!!Male:,SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...
10,B01001E_017E,Estimate!!Total:!!Female:,SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...
11,B01001F_002E,Estimate!!Total:!!Male:,SEX BY AGE (SOME OTHER RACE ALONE)
12,B01001F_017E,Estimate!!Total:!!Female:,SEX BY AGE (SOME OTHER RACE ALONE)
13,B01001G_002E,Estimate!!Total:!!Male:,SEX BY AGE (TWO OR MORE RACES)
14,B01001G_017E,Estimate!!Total:!!Female:,SEX BY AGE (TWO OR MORE RACES)
15,B01001H_002E,Estimate!!Total:!!Male:,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)"
16,B01001H_017E,Estimate!!Total:!!Female:,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)"
17,B01001I_002E,Estimate!!Total:!!Male:,SEX BY AGE (HISPANIC OR LATINO)
18,B01001I_017E,Estimate!!Total:!!Female:,SEX BY AGE (HISPANIC OR LATINO)
19,B19013A_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...

In [10]:
name = cen.dfColToList(dfPop,'name')
concept = cen.dfColToList(dfPop,'concept')
label = cen.dfColToList(dfPop,'label')

In [11]:
nameAsList = cen.nameList(dfPop)
print(nameAsList)

B01001A_001E,B01001A_002E,B01001A_017E,B01001B_002E,B01001B_017E,B01001C_002E,B01001C_017E,B01001D_002E,B01001D_017E,B01001E_002E,B01001E_017E,B01001F_002E,B01001F_017E,B01001G_002E,B01001G_017E,B01001H_002E,B01001H_017E,B01001I_002E,B01001I_017E,B19013A_001E

In [12]:
popDF = cen.detailedTable(nameAsList,NYGEOID)
popDF

,NAME,B01001A_001E,B01001A_002E,B01001A_017E,B01001B_002E,B01001B_017E,B01001C_002E,B01001C_017E,B01001D_002E,B01001D_017E,...,B01001F_017E,B01001G_002E,B01001G_017E,B01001H_002E,B01001H_017E,B01001I_002E,B01001I_017E,B19013A_001E,state,school district (unified)
0,"Roslyn Union Free School District, New York",14397,6683,7714,266,240,0,13,1473,1451,...,274,107,69,6250,7141,739,837,161021,36,25050
1,"East Williston Union Free School District, New...",6553,3146,3407,124,115,0,15,798,971,...,70,98,91,3061,3266,152,246,186797,36,10050
2,"North Shore Central School District, New York",14473,7203,7270,180,140,0,0,532,488,...,254,114,88,6708,6855,842,631,136171,36,26370
3,"Garden City Union Free School District, New York",20099,9527,10572,281,129,0,0,522,587,...,224,235,181,9147,10281,718,520,171741,36,11760
4,"Wantagh Union Free School District, New York",16086,8003,8083,55,33,0,0,70,134,...,80,129,130,7535,7702,487,463,151862,36,29850
5,"Manhasset Union Free School District, New York",12842,6215,6627,310,261,6,0,1236,1632,...,126,159,186,5703,6020,600,758,220898,36,18270
6,"Port Washington Union Free School District, Ne...",24451,12175,12276,223,317,2,42,1692,1875,...,1054,249,259,10760,11105,2379,2297,143995,36,23580
7,"Rockville Centre Union Free School District, N...",18278,8806,9472,586,907,0,0,280,318,...,600,328,282,8219,8836,1156,1402,123525,36,24780
8,"Hewlett-Woodmere Union Free School District, N...",15642,7624,8018,707,1243,0,0,620,685,...,562,89,83,6955,7472,1109,1080,128974,36,31710
9,"Levittown Union Free School District, New York",39331,18982,20349,266,212,16,15,1415,1301,...,853,493,628,16793,18048,3423,3220,126642,36,17160
10,"Locust Valley Central School District, New York",14612,7208,7404,8,145,19,0,227,288,...,201,140,89,6906,7097,396,417,134004,36,17700
11,"Lynbrook Union Free School District, New York",14848,7027,7821,274,354,0,38,179,305,...,338,244,230,6261,7035,1418,1355,116850,36,17910
12,Plainview-Old Bethpage Central School District...,23628,11585,12043,58,77,16,0,2060,2098,...,178,112,225,11094,11453,557,720,145709,36,23220
13,"Herricks Union Free School District, New York",13060,6233,6827,120,104,92,13,4468,4899,...,428,345,338,5725,6403,635,597,119503,36,14280
14,"Syosset Central School District, New York",24266,12009,12257,231,158,30,44,4473,4536,...,196,261,285,11715,11830,554,663,170278,36,28560
15,"Jericho Union Free School District, New York",11004,5283,5721,278,428,0,3,2390,2618,...,274,392,282,5088,5392,465,639,187000,36,15810
16,"Massapequa Union Free School District, New York",45342,22196,23146,112,68,39,12,234,287,...,167,142,308,21066,21837,1415,1674,135887,36,18630

In [13]:
dfPoptranspose = dfPop.transpose()
dfPoptranspose.columns = dfPoptranspose.iloc[0]
dfPoptranspose=dfPoptranspose.reset_index()
dfPoptranspose=dfPoptranspose['index'].astype(str)

In [14]:
test = cen.dfColDataToInt(dfPop,popDF,'name')
test.head()

,NAME,B01001A_001E,B01001A_002E,B01001A_017E,B01001B_002E,B01001B_017E,B01001C_002E,B01001C_017E,B01001D_002E,B01001D_017E,...,B01001F_017E,B01001G_002E,B01001G_017E,B01001H_002E,B01001H_017E,B01001I_002E,B01001I_017E,B19013A_001E,state,school district (unified)
0,"Roslyn Union Free School District, New York",14397,6683,7714,266,240,0,13,1473,1451,...,274,107,69,6250,7141,739,837,161021,36,25050
1,"East Williston Union Free School District, New...",6553,3146,3407,124,115,0,15,798,971,...,70,98,91,3061,3266,152,246,186797,36,10050
2,"North Shore Central School District, New York",14473,7203,7270,180,140,0,0,532,488,...,254,114,88,6708,6855,842,631,136171,36,26370
3,"Garden City Union Free School District, New York",20099,9527,10572,281,129,0,0,522,587,...,224,235,181,9147,10281,718,520,171741,36,11760
4,"Wantagh Union Free School District, New York",16086,8003,8083,55,33,0,0,70,134,...,80,129,130,7535,7702,487,463,151862,36,29850

In [15]:
testappend = dfPoptranspose.append(test,sort=False)
testappend

TypeError: append() got an unexpected keyword argument 'sort'

In [ ]:
# Filter by integer value
newDf = popDF.loc[(popDF['B01001A_001E']>40000)]
newDf