# Census API - New York

In [1]:
# import packages

from us import states
import pandas as pd
import requests

# import doc with API key

import config

from scripts import censusAPI as cen

In [2]:
cen.censusDataDetailedTable.head()

           name             label                   concept
0        AIANHH         Geography                      None
1        AIHHTL         Geography                      None
2         AIRES         Geography                      None
3          ANRC         Geography                      None
4  B01001A_001E  Estimate!!Total:  SEX BY AGE (WHITE ALONE)

## Querie

In [26]:
#https://api.census.gov/data/2019/acs/acs5/variables.html

Income=cen.filterByTableName('B25001_001E')
pd.set_option('display.max_colwidth', 0)
pd.set_option('display.max_rows', None)
Income

              name            label        concept
20075  B25001_001E  Estimate!!Total  HOUSING UNITS

In [4]:
# Test with Nassau County School Districts

selectedNYCounties = cen.schoolDistrictCSV((r'Data\USCensusNYSchDist.csv'))

In [5]:
# Test with Nassau County School Districts

NYURL = ("https://www2.census.gov/geo/docs/reference/codes/files/st36_ny_schdist.txt")
NY = cen.schoolDistrictGEOID(NYURL)

In [6]:
# Test merging user input school district CSV with census GEOID list

NYCountiesGEOID = cen.mergedSchoolDist(NY, selectedNYCounties)

In [7]:
# Test grab GEOIDs only

NYGEOID = (cen.GEOIDonly(NYCountiesGEOID))

In [9]:
# Test filter by list of known table names

nameList = ['B01001_002E']

cen.filterByTableNameNewList(nameList)

          name                    label     concept
0  B01001_002E  Estimate!!Total:!!Male:  SEX BY AGE

In [10]:
# Getting Census Data: Data Profiles

selectedDatProVar = 'DP05_0002E,DP05_0003E'

cen.dataProfile(selectedDatProVar,NYGEOID).head(1)

,NAME,DP05_0002E,DP05_0003E,state,school district (unified)
0,"Roslyn Union Free School District, New York",8837,9761,36,25050

In [11]:
# Getting Census Data: Detailed Tables

selectedDetTabVar = 'B01001_002E,B01001_026E,B19013_001E'

cen.detailedTable(selectedDetTabVar,NYGEOID).head(1)

,NAME,B01001_002E,B01001_026E,B19013_001E,state,school district (unified)
0,"Roslyn Union Free School District, New York",8837,9761,160098,36,25050

## US Census Data

In [12]:
# Population by Age, Gender, and Demographic

Pop = 4,5,20,36,51,67,82,98,113,129,144,160,175,191,206,222,237,253,268

dfPop = cen.filterByIndex(Pop)

In [13]:
# Median Household Income

medInc = 11238

In [22]:
# Bachelor or Higher

edu = 2959

In [23]:
nameAsList = cen.nameList(dfPop)

In [24]:
popDF = cen.detailedTable(nameAsList,NYGEOID)
popDF.head(1)

,NAME,B01001A_001E,B01001A_002E,B01001A_017E,B01001B_002E,B01001B_017E,B01001C_002E,B01001C_017E,B01001D_002E,B01001D_017E,...,B01001F_002E,B01001F_017E,B01001G_002E,B01001G_017E,B01001H_002E,B01001H_017E,B01001I_002E,B01001I_017E,state,school district (unified)
0,"Roslyn Union Free School District, New York",14397,6683,7714,266,240,0,13,1473,1451,...,308,274,107,69,6250,7141,739,837,36,25050

In [25]:
dfPoptranspose = dfPop.transpose()
dfPoptranspose.columns = dfPoptranspose.iloc[0]
dfPoptranspose=dfPoptranspose.reset_index()
del dfPoptranspose['index']
dfPoptranspose

name,B01001A_001E,B01001A_002E,B01001A_017E,B01001B_002E,B01001B_017E,B01001C_002E,B01001C_017E,B01001D_002E,B01001D_017E,B01001E_002E,B01001E_017E,B01001F_002E,B01001F_017E,B01001G_002E,B01001G_017E,B01001H_002E,B01001H_017E,B01001I_002E,B01001I_017E
0,B01001A_001E,B01001A_002E,B01001A_017E,B01001B_002E,B01001B_017E,B01001C_002E,B01001C_017E,B01001D_002E,B01001D_017E,B01001E_002E,B01001E_017E,B01001F_002E,B01001F_017E,B01001G_002E,B01001G_017E,B01001H_002E,B01001H_017E,B01001I_002E,B01001I_017E
1,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:,Estimate!!Total:!!Male:,Estimate!!Total:!!Female:
2,SEX BY AGE (WHITE ALONE),SEX BY AGE (WHITE ALONE),SEX BY AGE (WHITE ALONE),SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE),SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ALONE),SEX BY AGE (ASIAN ALONE),SEX BY AGE (ASIAN ALONE),SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE),SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE),SEX BY AGE (SOME OTHER RACE ALONE),SEX BY AGE (SOME OTHER RACE ALONE),SEX BY AGE (TWO OR MORE RACES),SEX BY AGE (TWO OR MORE RACES),"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)","SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",SEX BY AGE (HISPANIC OR LATINO),SEX BY AGE (HISPANIC OR LATINO)

In [16]:
NYDemographics = dfPoptranspose.append(popDF,sort=True)
NYDemographics.insert(0, "NAME", NYDemographics.pop("NAME"))
NYDemographics.insert(1, "school district (unified)", NYDemographics.pop("school district (unified)"))
NYDemographics.insert(2, "state", NYDemographics.pop("state"))
NYDemographics

NameError: name 'popDF' is not defined

In [17]:
# Filter by integer value
# newDf = popDF.loc[(popDF['B01001A_001E']>40000)]
# newDf