# Census API - Creating DataFrames

In [47]:
# import packages

from us import states
import pandas as pd
import requests

# import doc with API key

import config

## Example: Test API Call via Census API

#### The responses from Census API calls are in the format of list of lists.

In [2]:
censusAPIurl = "https://api.census.gov/data/2019/acs/acs5/profile?get=NAME,DP05_0001E,DP05_0003E,DP05_0002E&for=state:36&key={0}".format(config.MY_API_KEY)
callResponse = requests.request("GET", censusAPIurl)

# Text attribute allows you to examine the response.
# Integers are returned as string.
# You will need to convert the data type to int if you'd like to use it as such.

print(callResponse.text)

[["NAME","DP05_0001E","DP05_0003E","DP05_0002E","state"],
["New York","19572319","10071318","9501001","36"]]

#### The JSON method `.json()` of a response object returns a list of lists.

In [3]:
print(callResponse.json())

[['NAME', 'DP05_0001E', 'DP05_0003E', 'DP05_0002E', 'state'], ['New York', '19572319', '10071318', '9501001', '36']]

In [4]:
# Return first list (headers) with index 0.

print(callResponse.json()[0])
print(callResponse.json()[1])

['NAME', 'DP05_0001E', 'DP05_0003E', 'DP05_0002E', 'state']
['New York', '19572319', '10071318', '9501001', '36']

#### Construct a `pandas DataFrame` to create a table from the data.

In [5]:
# DataFrame is a class. Instantiate a dataframe by supplying the column name and data rows.
# Slicing is used in the data parameter `[1:]` in order to skip row [0].

df = pd.DataFrame(columns=callResponse.json()[0], data=callResponse.json()[1:])
df

       NAME DP05_0001E DP05_0003E DP05_0002E state
0  New York   19572319   10071318    9501001    36

#### You can also rename columns in your data frame.

In [6]:
columnNames = ('State', 'Total Population', 'Female Population', 'Male Population', 'FIPs')

df = pd.DataFrame(columns=columnNames, data=callResponse.json()[1:])
df

      State Total Population Female Population Male Population FIPs
0  New York         19572319          10071318         9501001   36

#### And change string types to integers

In [7]:
df['Total Population'] = df['Total Population'].astype(int)
df['Female Population'] = df['Female Population'].astype(int)
df['Male Population'] = df['Male Population'].astype(int)

#### Add a new calculated column to your data frame.

In [8]:
df['Percent Female']=df['Female Population']/df['Total Population']
df['Percent Male']=df['Male Population']/df['Total Population']

df = df[['State', 'FIPs', 'Total Population', 'Female Population','Percent Female','Male Population','Percent Male']]
df

,State,FIPs,Total Population,Female Population,Percent Female,Male Population,Percent Male
0,New York,36,19572319,10071318,0.514569,9501001,0.485431

## Add all states to dataframe created in the previous example

In [9]:
censusAPIurl2 = "https://api.census.gov/data/2019/acs/acs5/profile?get=NAME,DP05_0001E,DP05_0003E,DP05_0002E&for=state:*&key={0}".format(config.MY_API_KEY)
callResponse2 = requests.request("GET", censusAPIurl2)

# Create data frame
dfAllStates = pd.DataFrame(columns=columnNames, data=callResponse2.json()[1:])

# Convert to integers
dfAllStates['Total Population'] = dfAllStates['Total Population'].astype(int)
dfAllStates['Female Population'] = dfAllStates['Female Population'].astype(int)
dfAllStates['Male Population'] = dfAllStates['Male Population'].astype(int)

In [10]:
dfAllStates['Percent Female']=dfAllStates['Female Population']/dfAllStates['Total Population']
dfAllStates['Percent Male']=dfAllStates['Male Population']/dfAllStates['Total Population']

dfAllStates = dfAllStates[['State', 'FIPs', 'Total Population', 'Female Population','Percent Female','Male Population','Percent Male']]
dfAllStates.head(5)

,State,FIPs,Total Population,Female Population,Percent Female,Male Population,Percent Male
0,Alabama,01,4876250,2516895,0.516154,2359355,0.483846
1,Alaska,02,737068,352153,0.477775,384915,0.522225
2,Arizona,04,7050299,3545790,0.502928,3504509,0.497072
3,Arkansas,05,2999370,1527610,0.509310,1471760,0.490690
4,California,06,39283497,19757199,0.502939,19526298,0.497061

In [11]:
# .head() allows you to specify the first few rows

dfAllStates.head(5)

,State,FIPs,Total Population,Female Population,Percent Female,Male Population,Percent Male
0,Alabama,01,4876250,2516895,0.516154,2359355,0.483846
1,Alaska,02,737068,352153,0.477775,384915,0.522225
2,Arizona,04,7050299,3545790,0.502928,3504509,0.497072
3,Arkansas,05,2999370,1527610,0.509310,1471760,0.490690
4,California,06,39283497,19757199,0.502939,19526298,0.497061

In [12]:
# groups each "row" data together

for index, row in dfAllStates.iterrows():
    print(index, row)

0 State                 Alabama
FIPs                       01
Total Population      4876250
Female Population     2516895
Percent Female       0.516154
Male Population       2359355
Percent Male         0.483846
Name: 0, dtype: object
1 State                  Alaska
FIPs                       02
Total Population       737068
Female Population      352153
Percent Female       0.477775
Male Population        384915
Percent Male         0.522225
Name: 1, dtype: object
2 State                 Arizona
FIPs                       04
Total Population      7050299
Female Population     3545790
Percent Female       0.502928
Male Population       3504509
Percent Male         0.497072
Name: 2, dtype: object
3 State                Arkansas
FIPs                       05
Total Population      2999370
Female Population     1527610
Percent Female        0.50931
Male Population       1471760
Percent Male          0.49069
Name: 3, dtype: object
4 State                California
FIPs                         06
Total Population       39283497
Female Population      19757199
Percent Female         0.502939
Male Population        19526298
Percent Male           0.497061
Name: 4, dtype: object
5 State                Colorado
FIPs                       08
Total Population      5610349
Female Population     2787148
Percent Female       0.496787
Male Population       2823201
Percent Male         0.503213
Name: 5, dtype: object
6 State                Delaware
FIPs                       10
Total Population       957248
Female Population      494358
Percent Female       0.516437
Male Population        462890
Percent Male         0.483563
Name: 6, dtype: object
7 State                District of Columbia
FIPs                                   11
Total Population                   692683
Female Population                  364039
Percent Female                   0.525549
Male Population                    328644
Percent Male                     0.474451
Name: 7, dtype: object
8 State                Connecticut
FIPs                          09
Total Population         3575074
Female Population        1830829
Percent Female          0.512109
Male Population          1744245
Percent Male            0.487891
Name: 8, dtype: object
9 State                 Florida
FIPs                       12
Total Population     20901636
Female Population    10680823
Percent Female       0.511004
Male Population      10220813
Percent Male         0.488996
Name: 9, dtype: object
10 State                 Georgia
FIPs                       13
Total Population     10403847
Female Population     5341751
Percent Female        0.51344
Male Population       5062096
Percent Male          0.48656
Name: 10, dtype: object
11 State                   Idaho
FIPs                       16
Total Population      1717750
Female Population      856725
Percent Female       0.498748
Male Population        861025
Percent Male         0.501252
Name: 11, dtype: object
12 State                  Hawaii
FIPs                       15
Total Population      1422094
Female Population      708834
Percent Female       0.498444
Male Population        713260
Percent Male         0.501556
Name: 12, dtype: object
13 State                Illinois
FIPs                       17
Total Population     12770631
Female Population     6498459
Percent Female        0.50886
Male Population       6272172
Percent Male          0.49114
Name: 13, dtype: object
14 State                 Indiana
FIPs                       18
Total Population      6665703
Female Population     3380857
Percent Female       0.507202
Male Population       3284846
Percent Male         0.492798
Name: 14, dtype: object
15 State                    Iowa
FIPs                       19
Total Population      3139508
Female Population     1580972
Percent Female       0.503573
Male Population       1558536
Percent Male         0.496427
Name: 15, dtype: object
16 State                 Kansas
FIPs                      20
Total Population     2910652
Female Population    1459955
Percent Female       0.50159
Male Population      1450697
Percent Male         0.49841
Name: 16, dtype: object
17 State                Kentucky
FIPs                       21
Total Population      4449052
Female Population     2258130
Percent Female       0.507553
Male Population       2190922
Percent Male         0.492447
Name: 17, dtype: object
18 State                Louisiana
FIPs                        22
Total Population       4664362
Female Population      2385376
Percent Female        0.511405
Male Population        2278986
Percent Male          0.488595
Name: 18, dtype: object
19 State                   Maine
FIPs                       23
Total Population      1335492
Female Population      681550
Percent Female       0.510336
Male Population        653942
Percent Male         0.489664
Name: 19, dtype: object
20 State                Maryland
FIPs                       24
Total Population      6018848
Female Population     3101235
Percent Female       0.515254
Male Population       2917613
Percent Male         0.484746
Name: 20, dtype: object
21 State                Massachusetts
FIPs                            25
Total Population           6850553
Female Population          3526346
Percent Female            0.514753
Male Population            3324207
Percent Male              0.485247
Name: 21, dtype: object
22 State                Michigan
FIPs                       26
Total Population      9965265
Female Population     5060025
Percent Female       0.507766
Male Population       4905240
Percent Male         0.492234
Name: 22, dtype: object
23 State                Minnesota
FIPs                        27
Total Population       5563378
Female Population      2792505
Percent Female        0.501944
Male Population        2770873
Percent Male          0.498056
Name: 23, dtype: object
24 State                Mississippi
FIPs                          28
Total Population         2984418
Female Population        1536545
Percent Female          0.514856
Male Population          1447873
Percent Male            0.485144
Name: 24, dtype: object
25 State                Missouri
FIPs                       29
Total Population      6104910
Female Population     3109185
Percent Female       0.509293
Male Population       2995725
Percent Male         0.490707
Name: 25, dtype: object
26 State                 Montana
FIPs                       30
Total Population      1050649
Female Population      522076
Percent Female       0.496908
Male Population        528573
Percent Male         0.503092
Name: 26, dtype: object
27 State                Nebraska
FIPs                       31
Total Population      1914571
Female Population      959621
Percent Female        0.50122
Male Population        954950
Percent Male          0.49878
Name: 27, dtype: object
28 State                  Nevada
FIPs                       32
Total Population      2972382
Female Population     1481088
Percent Female       0.498283
Male Population       1491294
Percent Male         0.501717
Name: 28, dtype: object
29 State                New Hampshire
FIPs                            33
Total Population           1348124
Female Population           680435
Percent Female            0.504727
Male Population             667689
Percent Male              0.495273
Name: 29, dtype: object
30 State                New Jersey
FIPs                         34
Total Population        8878503
Female Population       4543471
Percent Female         0.511738
Male Population         4335032
Percent Male           0.488262
Name: 30, dtype: object
31 State                New Mexico
FIPs                         35
Total Population        2092454
Female Population       1056264
Percent Female         0.504797
Male Population         1036190
Percent Male           0.495203
Name: 31, dtype: object
32 State                New York
FIPs                       36
Total Population     19572319
Female Population    10071318
Percent Female       0.514569
Male Population       9501001
Percent Male         0.485431
Name: 32, dtype: object
33 State                North Carolina
FIPs                             37
Total Population           10264876
Female Population           5268238
Percent Female              0.51323
Male Population             4996638
Percent Male                0.48677
Name: 33, dtype: object
34 State                North Dakota
FIPs                           38
Total Population           756717
Female Population          369162
Percent Female           0.487847
Male Population            387555
Percent Male             0.512153
Name: 34, dtype: object
35 State                    Ohio
FIPs                       39
Total Population     11655397
Female Population     5943632
Percent Female       0.509947
Male Population       5711765
Percent Male         0.490053
Name: 35, dtype: object
36 State                Oklahoma
FIPs                       40
Total Population      3932870
Female Population     1983342
Percent Female       0.504299
Male Population       1949528
Percent Male         0.495701
Name: 36, dtype: object
37 State                  Oregon
FIPs                       41
Total Population      4129803
Female Population     2082465
Percent Female       0.504253
Male Population       2047338
Percent Male         0.495747
Name: 37, dtype: object
38 State                Pennsylvania
FIPs                           42
Total Population         12791530
Female Population         6526417
Percent Female           0.510214
Male Population           6265113
Percent Male             0.489786
Name: 38, dtype: object
39 State                Rhode Island
FIPs                           44
Total Population          1057231
Female Population          543439
Percent Female           0.514021
Male Population            513792
Percent Male             0.485979
Name: 39, dtype: object
40 State                South Carolina
FIPs                             45
Total Population            5020806
Female Population           2585334
Percent Female             0.514924
Male Population             2435472
Percent Male               0.485076
Name: 40, dtype: object
41 State                South Dakota
FIPs                           46
Total Population           870638
Female Population          431692
Percent Female           0.495834
Male Population            438946
Percent Male             0.504166
Name: 41, dtype: object
42 State                Tennessee
FIPs                        47
Total Population       6709356
Female Population      3436078
Percent Female        0.512132
Male Population        3273278
Percent Male          0.487868
Name: 42, dtype: object
43 State                   Texas
FIPs                       48
Total Population     28260856
Female Population    14226847
Percent Female       0.503412
Male Population      14034009
Percent Male         0.496588
Name: 43, dtype: object
44 State                 Vermont
FIPs                       50
Total Population       624313
Female Population      316216
Percent Female       0.506502
Male Population        308097
Percent Male         0.493498
Name: 44, dtype: object
45 State                    Utah
FIPs                       49
Total Population      3096848
Female Population     1537980
Percent Female       0.496628
Male Population       1558868
Percent Male         0.503372
Name: 45, dtype: object
46 State                Virginia
FIPs                       51
Total Population      8454463
Female Population     4295290
Percent Female        0.50805
Male Population       4159173
Percent Male          0.49195
Name: 46, dtype: object
47 State                Washington
FIPs                         53
Total Population        7404107
Female Population       3700806
Percent Female         0.499832
Male Population         3703301
Percent Male           0.500168
Name: 47, dtype: object
48 State                West Virginia
FIPs                            54
Total Population           1817305
Female Population           918727
Percent Female            0.505544
Male Population             898578
Percent Male              0.494456
Name: 48, dtype: object
49 State                Wisconsin
FIPs                        55
Total Population       5790716
Female Population      2910822
Percent Female         0.50267
Male Population        2879894
Percent Male           0.49733
Name: 49, dtype: object
50 State                 Wyoming
FIPs                       56
Total Population       581024
Female Population      284822
Percent Female       0.490207
Male Population        296202
Percent Male         0.509793
Name: 50, dtype: object
51 State                Puerto Rico
FIPs                          72
Total Population         3318447
Female Population        1740129
Percent Female          0.524381
Male Population          1578318
Percent Male            0.475619
Name: 51, dtype: object

#### Sorting DataFrames

In [13]:
# use sort to change the way the rows are sorted

dfAllStates.sort_values(["Total Population"],ascending=False).head()

,State,FIPs,Total Population,Female Population,Percent Female,Male Population,Percent Male
4,California,06,39283497,19757199,0.502939,19526298,0.497061
43,Texas,48,28260856,14226847,0.503412,14034009,0.496588
9,Florida,12,20901636,10680823,0.511004,10220813,0.488996
32,New York,36,19572319,10071318,0.514569,9501001,0.485431
38,Pennsylvania,42,12791530,6526417,0.510214,6265113,0.489786

#### Creating New DataFrames from Filtering Data
Reset the index with the `.reset_index` method

In [14]:
newDf = dfAllStates.loc[(dfAllStates['Total Population']>10000000)]
newDf.reset_index(drop = True, inplace = True)
newDf

,State,FIPs,Total Population,Female Population,Percent Female,Male Population,Percent Male
0,California,06,39283497,19757199,0.502939,19526298,0.497061
1,Florida,12,20901636,10680823,0.511004,10220813,0.488996
2,Georgia,13,10403847,5341751,0.513440,5062096,0.486560
3,Illinois,17,12770631,6498459,0.508860,6272172,0.491140
4,New York,36,19572319,10071318,0.514569,9501001,0.485431
5,North Carolina,37,10264876,5268238,0.513230,4996638,0.486770
6,Ohio,39,11655397,5943632,0.509947,5711765,0.490053
7,Pennsylvania,42,12791530,6526417,0.510214,6265113,0.489786
8,Texas,48,28260856,14226847,0.503412,14034009,0.496588

#### Extract lists from Data Frame

In [20]:
totalPopulation = dfAllStates["Total Population"].tolist()
femalePop = dfAllStates["Female Population"].tolist()
malePop = dfAllStates["Male Population"].tolist()

states = dfAllStates["State"].tolist()

## Matplotlib

In [31]:
# import package

from matplotlib import pyplot as plt
from matplotlib.ticker import MultipleLocator
import numpy as np

In [1]:
fig = plt.figure(figsize=(50,50))

plt.xticks(fontsize=50)
plt.yticks(fontsize=50)


plt.title('State Population',fontsize=50)
plt.ylabel('States',fontsize=50)
plt.xlabel('Population',fontsize=50)

plt.barh(states, femalePop,0.8, color = "#444444",label="Female")
plt.barh(states, malePop, 0.8, left = femalePop, color= "#999999",label="Male")

plt.legend(fontsize=50)
plt.show()

NameError: name 'plt' is not defined