# Census API - New York

In [1]:
# import packages

from us import states
import pandas as pd
import requests

# import doc with API key

import config

from scripts import censusAPI as cen

from Data import censusIndex

In [2]:
pd.set_option('display.max_colwidth', 0)
pd.set_option('display.max_rows', None)

In [3]:
cen.censusDataDetailedTable.head()

           name             label                   concept
0  AIANHH        Geography         None
1  AIHHTL        Geography         None
2  AIRES         Geography         None
3  ANRC          Geography         None
4  B01001A_001E  Estimate!!Total:  SEX BY AGE (WHITE ALONE)

## NY School Districts will Serve as the Geography Type

#### This is the location data we will use for the Census API call

In [4]:
# Test with Nassau County School Districts

selectedNYCounties = cen.schoolDistrictCSV((r'Data\USCensusNYSchDist.csv'))

In [5]:
stateIDurl = ("https://www2.census.gov/geo/docs/reference/state.txt")
stateID = pd.read_csv(stateIDurl, sep='|')
stateID.head()

   STATE STUSAB  STATE_NAME  STATENS
0  1      AL     Alabama     1779775
1  2      AK     Alaska      1785533
2  4      AZ     Arizona     1779777
3  5      AR     Arkansas    68085
4  6      CA     California  1779778

In [6]:
# Test with Nassau County School Districts

NYURL = ("https://www2.census.gov/geo/docs/reference/codes/files/st36_ny_schdist.txt")
NY = cen.schoolDistrictGEOID(NYURL)
NY.head(1)

  State  ID  GEOID                School District Name    Class
0  NY    36  1      Dolgeville Central School District  Unified

In [7]:
# Test merging user input school district CSV with census GEOID list

NYCountiesGEOID = cen.mergedSchoolDist(NY, selectedNYCounties)

# Test grab GEOIDs only

NYGEOID = (cen.GEOIDonly(NYCountiesGEOID))

## US Census Data

In [31]:
y=cen.houseYrBlt(2019,NYGEOID,36).sort_values('NAME', ascending=True)
y.head(4)
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 1 to 4
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      17 non-null     object
 1   school district (unified)  17 non-null     object
 2   NAME                       17 non-null     object
 3   Total Housing Units        17 non-null     int64
 4   Built 2014 or Later        17 non-null     int64
 5   Built 2010 to 2013         17 non-null     int64
 6   Built 2000 to 2009         17 non-null     int64
 7   Built 1990 to 1999         17 non-null     int64
 8   Built 1980 to 1989         17 non-null     int64
 9   Built 1970 to 1979         17 non-null     int64
 10  Built 1960 to 1969         17 non-null     int64
 11  Built 1950 to 1959         17 non-null     int64
 12  Built 1940 to 1949         17 non-null     int64
 13  Built 1939 or Earlier      17 non-null     int64
dtypes: int64(11), object(3)
memory usage: 2.0+ KB